<?php
$url = 'http://localhost/sistem1/io_services.php';
 
$data = <<<XML
<text>Ini adalah input anda!</text>
XML;
 
$ch = curl_init();
 
curl_setopt($ch, CURLOPT_URL, $url);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_POST, true);
curl_setopt($ch, CURLOPT_POSTFIELDS, $data);
 
$response = curl_exec($ch);
 
curl_close($ch);
 
echo $response;
?>
